---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Reality: Does Bluechew Make You Bigger?

The simple answer is? No, it does not yield a lasting increase in size. Nevertheless, it can aid one in obtaining fuller, firmer erections by increasing blood flow to the p3nis which may make one look bigger during arousal.

BlueChew is famed around the world—and for people who have erectile dysfunction it can be useful since it comes in a chewable form. But a common question floating around is: Does BlueChew make you bigger? The answer depends on what you’re really asking. If you’re looking for an answer that gives a permanent increase in size, then you will be surprised.
`;
---

<Layout title="Does BlueChew Make You Bigger? | Meds4go">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Does BlueChew Make You Bigger?</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
</Layout>
