---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a href="https://meds4go.com/" class="decoration-dashed text-primary underline-offset-8"> BlueChew on Meds4go.com </a>
    </p>
</footer>
